<div class="row">
  <div class="col-6">
    <h6 class="py-3">Using two way Databinding to get input values</h6>
    <div>
      <label for="">Server Name</label>
      <input type="text" class="form-control mb-3" [(ngModel)]="newserverName">

      <label for="">Bluprint Name</label>
      <input type="text" class="form-control" [(ngModel)]="newserverContent">

      <button class="btn btn-primary mr-3 mt-3" (click)="onaddServer()" [disabled]="newserverName === '' ">Add Server</button>
      <button class="btn btn-primary mt-3" (click)="onaddBlueprint()" [disabled]="newserverContent === '' ">Add Blueprint</button>
      <hr>
    </div>
  </div>


  <div class="col-6">
    <h6 class="py-3">Using Viewchild and local references to get input values</h6>
    <div>
      <label for="">Server Name</label>
      <input type="text" class="form-control mb-3" #ServereleRef>

      <label for="">Bluprint Name</label>
      <input type="text" class="form-control" #viewChildref>

      <button class="btn btn-primary mr-3 mt-3" (click)="onaddServerref(ServereleRef)">Add Server</button>
      <button class="btn btn-primary mt-3" (click)="onaddBlueprintref(ServereleRef)">Add Blueprint</button>
      <hr>
    </div>
  </div>

</div>
